@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  
--primeira-cor: #1C5931;
--segunda-cor: #124022;
--terceira-cor: yellowgreen;
--letra1-cor: #124022;
--letra2-cor: #9BBFAB;
--letra3-cor: #5E8C72;

}

@media (prefers-color-scheme: dark) {
  :root {
  
    --primeira-cor: #1C5931;
  --segunda-cor: #124022;
  --terceira-cor: yellowgreen;
  --letra1-cor: #369927;
  --letra2-cor: #9BBFAB;
  --letra3-cor: #5E8C72;

  }
}

