@tailwind base;
@tailwind components;
@tailwind utilities;



@media (prefers-color-scheme: dark) {
  :root {
  
    --primeira-cor: #1C5931;
  --segunda-cor: #124022;
  --letra1-cor: #DCF2E8;
  --letra2-cor: #9BBFAB;
  --letra3-cor: #5E8C72;

  }
}

.contain{
 position: relative;
  background-color: #1240225e;
  min-height: 500px;
  z-index: 1;
  margin-top: -15px;
}
