.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container h4{
    font-size: 2rem;
    color: var(--terceira-cor);
    text-align: center;
}
.container img{
    width: 70%;
    border-radius: 5px;
    box-shadow: 4px 3px 4px rgba(0, 0, 0, 0.2);
}
@media (min-width:200px){

}
@media (min-width:320px){
   
 
}
@media (min-width:480px){
 
}  
@media (min-width:768px){
 
}
@media (max-height:450px) and (min-width:768px){

}
@media (min-width:900px){
  

}
@media (min-width:1024px){

}
@media (min-width:1224px){
   
}