
.hea{
    background-image: url('.././image/4.png');
    background-size: cover;
    width: 99.7vw;
    height: 500px;
    background-repeat: no-repeat;
}.hea .ajusta{
    width: 55%;
}
.hea h1{
    color: yellowgreen;
    padding-top: 6%;
    text-align: center;
    font-family: fantasy;
    font-size: 4rem;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.324);
}
.hea h3{
    width: 86%;
    margin-left: 3%;
    color: #DCF2E8;
    text-align: center;
    font-family: inherit;
    font-weight: 500;
    font-size: 3rem;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.324);
    margin-bottom: 1rem;
}
.hea .but{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-left: -10%;
}
.hea .but button{
    padding: 6px;
    background-color: rgb(219, 239, 200);
    color: yellowgreen;
    font-size: 1.8rem;
    font-weight: bold;
    min-width: 230px;
    border: 1px solid yellowgreen;
}
.hea .but button:hover{
    background-color: yellowgreen;
    color:  rgb(255, 255, 255);
  
}

