
.hea{
    z-index: 0;
    position: relative;
    background-position-y: 7rem;
    padding-top: 7rem;
    background-image: url('../image/4.png');
    background-size: 99.7%;
    
    background-repeat: no-repeat;
}
.divisor{
    display: flex;
    align-items:baseline;
    justify-content: center;
    margin: 2rem;
    padding: 5px;
}

.hea .textHea{
    width: 99.7vw;
    background-color: #1240225e;
    min-height: 518px;
}
.hea h1{
    color: yellowgreen;
    padding-top: 6%;
    text-align:start;
    font-family: fantasy;
    font-size: 4rem;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.324);
    margin-left: 1rem;
}
.hea h3{
    width: 48%;
    color: #DCF2E8;
    text-align: start;
    font-family: inherit;
    font-weight: 500;
    font-size: 3rem;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.324);
    margin-bottom: 1rem;
    margin-left: 1rem;
}
.hea .but{
    display: flex;
    justify-content:left;
    gap: 30px;
    margin-left: 2%;
}
.hea .but button{
    padding: 6px;
    background-color: rgb(219, 239, 200);
    color: yellowgreen;
    font-size: 1.8rem;
    font-weight: bold;
    min-width: 230px;
    border: 1px solid yellowgreen;
}
.hea .but button:hover{
    background-color: yellowgreen;
    color:  rgb(255, 255, 255);
  
}
.h2{
    color: var(--primeira-cor);
    font-size: 3rem;
    text-align: center;
}

.colunas{
    display: flex;
    flex-direction: column;
}
.colunas .dTela{
    display: flex;
    flex-direction: column;
}
.colunas .dTela .organizando{
    display: flex;
    padding: 1rem;
}
.organiza{
    display: flex;
    align-items: center
}
.colunas h2{
    font-size: 2.3rem;
    color: var(--terceira-cor);
    text-align: center;
}
.colunas .organiza ul{
    margin: 0px .5rem;
    display: none;
}
.colunas .organiza ul li{
    font-family: Arial, Helvetica, sans-serif;
    list-style-type: disclosure-closed;
    font-size: .9rem;
    
}
 .colunas button {
    background-color: yellowgreen;
    color:  rgb(255, 255, 255);
    font-size: 1.5rem;
    width: 68%;
    border-radius: 5px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.379);
    margin: 1rem;
    }
    .colunas  button:hover{
    background-color: rgb(219, 239, 200);
    color: yellowgreen;
    border: 1px solid yellowgreen;
}
.colunas .alinha{
    display: flex;
    flex-direction: column;
}
.dTela .ima{
    padding: 0px 5px;
}
.apresentação{
    margin: 1rem;
    width: 50%;
    background-color:rgba(167, 234, 35, 0.412);
    padding: 1.5rem;
    border-radius: 10px;
}
.apresentação h2{
    color: yellowgreen;
    text-align: center;
    font-size: 2.5rem;
}
.apresentação h4{
   font-family: Arial, Helvetica, sans-serif;
}
.divide{
    display: flex;
}
.contem{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1.4s;
}
.contem:hover{
    width: 100%;
    justify-content: flex-start;
    border: 2px solid var(--terceira-cor);
    margin: 2rem;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.425);
    padding: 10px;
    background-color: rgba(172, 255, 47, 0.151);
    
}
.contem:hover h4{
  font-size: 0rem;
}
.contem h2{
    color: yellowgreen;
    text-align: center;
    font-size: 1.5rem;
}
.contem ul{
   display: none;
   transition: 2s;
}
.contem ul li{
    font-family: Arial, Helvetica, sans-serif;
    list-style-type:circle;
    font-size: 1rem;
    margin-left: 1.5rem;
}
.contem button {
    background-color: yellowgreen;
    color:  rgb(255, 255, 255);
    font-size: 1.5rem;
    width: 95%;
    border-radius: 5px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.379);
    margin: .5rem;
    }
    .contem  button:hover{
    background-color: rgb(219, 239, 200);
    color: yellowgreen;
    border: 1px solid yellowgreen;
}
.contem .exibe{
    display: block;
    font-size: 1.3rem;
}
.contem.esconde{
    display: none;
}
@media (min-width:200px){

}
@media (min-width:320px){
   
 
}
@media (min-width:480px){
 
}  
@media (min-width:768px){
 
}
@media (max-height:450px) and (min-width:768px){

}
@media (min-width:900px){
  

}
@media (min-width:1024px){

}
@media (min-width:1224px){
   
}