/* @import url('https://fonts.googleapis.com/css2?family= Montserrat :wght@300;400;500;600;700;900 & display=swap'); */

.hea{
    z-index: 0;
    position: relative;
    background-position-y: 7rem;
    padding-top: 8.3rem;
   
    background-image: url('.././image/3.png');
    background-size: 99.7%;
    background-repeat: no-repeat;
    margin: auto;
}
.divisor{
    display: flex;
    align-items:baseline;
    justify-content: center;
    margin: 2rem;
    padding: 5px;
}
.hea .contain{
    margin-top: -1.5rem;
    width: 99.7vw;
    background-color: #1240225e;
    min-height: 500px;
}
.pos{
    display: flex;
}
.posi{
    width: 55%;
    height: 520px;
}
.hea .ajusta{
    width: 45%;
}
.hea h1{
    color: yellowgreen;
    padding-top: 30%;
    text-align: center;
    font-family: fantasy;
    font-size: 3.2rem;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.324);
}
.hea h3{
    width: 86%;
    margin-left: 5%;
    color: #DCF2E8;
    text-align: center;
    font-family: inherit;
    font-weight: 500;
    font-size: 2.2rem;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.324);
    margin-bottom: 1rem;
}
.hea .but{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-left: 8%;
}
.hea .but button{
    padding: 6px;
    background-color: rgb(219, 239, 200);
    color: yellowgreen;
    font-size: 1.6rem;
    font-weight: bold;
    min-width: 200px;
    border: 1px solid yellowgreen;
}
.hea .but button:hover{
    background-color: yellowgreen;
    color:  rgb(255, 255, 255);
  
}
.apresentação{
    margin: 1rem;
    padding: 1.5rem;
    border-radius: 10px;
    text-align: center;
}

.apresentação h2{
    color: yellowgreen;
    text-align: center;
    font-size: 2.5rem;
}
.apresentação span{
    text-align:start;
    font-family: cursive;
    font-weight: bold;
    color: var(--segunda-cor);
}
.apresentação strong{
    font-family: cursive;
    font-weight: 600;
}
.apresentação p{
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    margin: 1rem 0rem;
}
.apresentação h4{
   font-family: Arial, Helvetica, sans-serif;
}
.apresentação .informações{
    position: relative;
    width: 80%;
    height: 60px;
    padding: 0rem 5rem;
    border-radius: 10px;
    box-shadow: 2px 2px 4px #0000002b;
    background-color: #acff2f4a;
    margin: auto;
    transition: 1.5s;
}
.apresentação .informações:hover{
    height: auto;
    padding: 0px 2rem;
    border-radius: 10px;
    box-shadow: 2px 2px 4px #0000002b;
    background-color: #acff2f93;
    margin: auto;
}
.apresentação .informações h3{
    font-size: 3.5rem;
    margin-top: -5.5%;
    color: rgba(0, 0, 0, 0.281);
}
.divisor  h2{
    font-size: 2.3rem;
    color: var(--terceira-cor);
    text-align: center;
}
.cards{
    width: 97%;
    margin: 2.5rem auto;
    display: flex;
    flex-direction: column;
    box-shadow: 2px 2px 4px #0000002b;
    background-color: #acff2f40;
    border-radius: 10px;
}
.cards:hover{
    width: 98%;
    margin: 2.5rem auto;
    display: flex;
    flex-direction: column;
    box-shadow: 2px 2px 6px #00000045;
    background-color: #acff2f82;
    border-radius: 10px;
}

.cards .organiza{
    display: flex;
    align-items: center;
}
.cards div h2{
    font-family: cursive;
    font-size: 1.5rem;
    color: var(--segunda-cor);
    text-align: center;
}
.cards  h4{
    font-size: 0rem;
}
.cards .texto{
    width: 100%;
    width: fit-content;
    padding: .1rem 1rem;
   
}
.cards p{
    font-family: cursive;
    font-size: 1rem;
    color: var(--primeira-cor);
    text-align: center;
}
.cards .organiza ul{
    padding: 1rem;
}
.cards .organiza ul li{
    font-family: auto;
    list-style-type:disc;
    font-size: 1rem;
    color: var(--segunda-cor);
}
.divide{
    
   
}
.contem{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1.4s;
}
.contem:hover{
    width: 100%;
    justify-content: flex-start;
    border: 2px solid var(--terceira-cor);
    margin: 2rem;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.425);
    padding: 10px;
    background-color: rgba(172, 255, 47, 0.151); 
}
.contem:hover h4{
  font-size: 0rem;
}
.contem h2{
    color: yellowgreen;
    text-align: center;
    font-size: 1.5rem;
}
.divide .ínformações ul{
   display: none;
   transition: 2s;
}
.divide .ínformações ul li{
    font-family: Arial, Helvetica, sans-serif;
    font-size: .9rem;
    list-style-type: circle;
}
.contem button {
    background-color: yellowgreen;
    color:  rgb(255, 255, 255);
    font-size: 1.5rem;
    width: 70%;
    border-radius: 5px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.379);
    margin: 0.3rem 8rem;
    }
    .contem  button:hover{
    background-color: rgb(219, 239, 200);
    color: yellowgreen;
    border: 1px solid yellowgreen;
}
.informações .exibe{
    display: block;
    font-family: cursive;
}
.informações .esconde{
    display: none;
}
.informações span svg{
    font-size: 3rem;
}
@media (min-width:200px){

}
@media (min-width:320px){
   
 
}
@media (min-width:480px){
 
}  
@media (min-width:768px){
 
}
@media (max-height:450px) and (min-width:768px){

}
@media (min-width:900px){
  

}
@media (min-width:1024px){

}
@media (min-width:1224px){
   
}